<h5>Welcome, <%= @user.name %></h5>

<p>
  <%= link_to 'Click To Activate Your Account', "/users/#{@user.id}/edit?key=#{@user.api_key}" %>
</p><br />

<p><strong>Your API Key:</strong> <%= @user.api_key %></p>